@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

header {
  text-align: left;
  font-size: 70px;
  padding-top: 61px;
  font-family: "Kumbh Sans", sans-serif;
  padding-bottom: 61px;
  color: #52504e;
  font-weight: 700;
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.movieReel {
  height: 40px;
}
