@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Main-Container {
  font-size: 20px;
  background-color: #958a56;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-bottom: 160px;
}

.List-Header {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

.Input-Field {
  text-align: center;
  font-size: 40px;
  font-family: "Kumbh Sans", sans-serif;
}

.Nominate-Statement {
  text-align: center;
}

.Notification {
  color: #000000;
}

.socials {
  display: flex;
}

.Search-Text {
  font-style: inherit;
}

.Input-Grid {
  padding-top: 120px;
}

.Squared-App {
  display: flex;
  padding-top: 181px;
  flex-wrap: nowrap;
}

.Movie-Info {
  font-size: 60px;
  color: #d0d0d0;
}
