@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

.Main-Container {
  font-size: 20px;
  background-color: #efe2ba;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.List-Header {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

.Input-Field {
  text-align: center;
  font-size: 40px;
  /* padding-top: 61px; */
  font-family: "Kumbh Sans", sans-serif;
}
