@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #958a56;
}

code {
  font-family: "Kumbh Sans", sans-serif;
  color: #52504e;
}

h1 {
  color: #d0d0d0;
}

h3 {
  color: #d0d0d0;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

li {
  font-family: "Kumbh Sans", sans-serif;
  color: #d0d0d0;
  font-size: 100px;
}
